<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!-- Robot name parameter -->
  <xacro:arg name="name" default="ur"/>

  <!-- UR type and parameters -->
  <xacro:arg name="ur_type" default="ur5x"/>
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="simulation_controllers" default="" />
  <xacro:arg name="ros_namespace" default="" />

  <!-- Import UR macro and ros2_control config -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find ur_simulation_gz)/urdf/ur_gz.ros2_control.xacro" />

  <!-- ======================== WORLD ======================== -->
  <link name="world" />

  <!-- Table top at 0.98m height, rotated 180 deg yaw (same as volcaniarm) -->
  <joint name="world_to_base" type="fixed">
    <origin xyz="0 0 0.98" rpy="0 0 3.14159" />
    <parent link="world" />
    <child link="table_top_link" />
  </joint>

  <!-- ======================== TABLE TOP ======================== -->
  <link name="table_top_link">
    <inertial>
      <origin xyz="0.0033183 1.7612E-06 -0.24794" rpy="0 0 0" />
      <mass value="5.4796" />
      <inertia ixx="0.36605" ixy="-2.0049E-09" ixz="1.5542E-08"
               iyy="0.19294" iyz="-3.1213E-09" izz="0.31414" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ======================== TABLE LEGS ======================== -->

  <!-- Front-left table leg -->
  <link name="fl_table_leg_link">
    <inertial>
      <origin xyz="0 2.2204E-16 0.22347" rpy="0 0 0" />
      <mass value="0.15157" />
      <inertia ixx="0.0028107" ixy="-1.2462E-19" ixz="-4.3818E-20"
               iyy="0.0028135" iyz="-1.2312E-20" izz="5.0184E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/fl_table_leg_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/fl_table_leg_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="fl_table_leg_joint" type="fixed">
    <origin xyz="0.34 0.698 -0.883" rpy="0 0 0" />
    <parent link="table_top_link" />
    <child link="fl_table_leg_link" />
  </joint>

  <!-- FL caster wheel mount -->
  <link name="fl_caster_wheel_mount_link">
    <inertial>
      <origin xyz="-0.011459 -7.0567E-09 -0.011665" rpy="0 0 0" />
      <mass value="0.047319" />
      <inertia ixx="1.6675E-05" ixy="-8.0944E-11" ixz="-8.1003E-07"
               iyy="2.9049E-05" iyz="-7.8988E-11" izz="3.76E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/fl_caster_wheel_mount_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/fl_caster_wheel_mount_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="fl_caster_wheel_mount_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="fl_table_leg_link" />
    <child link="fl_caster_wheel_mount_link" />
  </joint>

  <!-- FL caster wheel -->
  <link name="fl_caster_wheel_link">
    <inertial>
      <origin xyz="0 -5.3545E-05 -1.1102E-16" rpy="0 0 0" />
      <mass value="0.12084" />
      <inertia ixx="4.6943E-05" ixy="2.8182E-17" ixz="-1.6458E-15"
               iyy="7.6353E-05" iyz="4.9423E-17" izz="4.6943E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/fl_caster_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/fl_caster_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="fl_caster_wheel_joint" type="fixed">
    <origin xyz="-0.0325 0 -0.0595" rpy="0 0 0" />
    <parent link="fl_caster_wheel_mount_link" />
    <child link="fl_caster_wheel_link" />
  </joint>

  <!-- Front-right table leg -->
  <link name="fr_table_leg_link">
    <inertial>
      <origin xyz="0 0 0.22347" rpy="0 0 0" />
      <mass value="0.15157" />
      <inertia ixx="0.0028107" ixy="-2.7017E-19" ixz="2.3161E-21"
               iyy="0.0028135" iyz="-2.0835E-19" izz="5.0184E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/fr_table_leg_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/fr_table_leg_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="fr_table_leg_joint" type="fixed">
    <origin xyz="0.34 -0.698 -0.883" rpy="0 0 0" />
    <parent link="table_top_link" />
    <child link="fr_table_leg_link" />
  </joint>

  <!-- FR caster wheel mount -->
  <link name="fr_caster_wheel_mount_link">
    <inertial>
      <origin xyz="-0.011459 -7.0567E-09 -0.011665" rpy="0 0 0" />
      <mass value="0.047319" />
      <inertia ixx="1.6675E-05" ixy="-8.0944E-11" ixz="-8.1003E-07"
               iyy="2.9049E-05" iyz="-7.8988E-11" izz="3.76E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/fr_caster_wheel_mount_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/fr_caster_wheel_mount_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="fr_caster_wheel_mount_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="fr_table_leg_link" />
    <child link="fr_caster_wheel_mount_link" />
  </joint>

  <!-- FR caster wheel -->
  <link name="fr_caster_wheel_link">
    <inertial>
      <origin xyz="0 -5.3545E-05 0" rpy="0 0 0" />
      <mass value="0.12084" />
      <inertia ixx="4.6943E-05" ixy="2.8345E-17" ixz="-1.6458E-15"
               iyy="7.6353E-05" iyz="4.9116E-17" izz="4.6943E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/fr_caster_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/fr_caster_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="fr_caster_wheel_joint" type="fixed">
    <origin xyz="-0.0325 0 -0.0595" rpy="0 0 0" />
    <parent link="fr_caster_wheel_mount_link" />
    <child link="fr_caster_wheel_link" />
  </joint>

  <!-- Rear-left table leg -->
  <link name="rl_table_leg_link">
    <inertial>
      <origin xyz="0 0 0.22347" rpy="0 0 0" />
      <mass value="0.15157" />
      <inertia ixx="0.0028107" ixy="-6.6369E-21" ixz="3.4765E-19"
               iyy="0.0028135" iyz="-1.384E-18" izz="5.0184E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/rl_table_leg_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/rl_table_leg_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rl_table_leg_joint" type="fixed">
    <origin xyz="-0.34 0.698 -0.883" rpy="0 0 0" />
    <parent link="table_top_link" />
    <child link="rl_table_leg_link" />
  </joint>

  <!-- RL caster wheel mount -->
  <link name="rl_caster_wheel_mount_link">
    <inertial>
      <origin xyz="-0.011459 -7.0567E-09 -0.011665" rpy="0 0 0" />
      <mass value="0.047319" />
      <inertia ixx="1.6675E-05" ixy="-8.0944E-11" ixz="-8.1003E-07"
               iyy="2.9049E-05" iyz="-7.8988E-11" izz="3.76E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/rl_caster_wheel_mount_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/rl_caster_wheel_mount_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rl_caster_wheel_mount_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="rl_table_leg_link" />
    <child link="rl_caster_wheel_mount_link" />
  </joint>

  <!-- RL caster wheel -->
  <link name="rl_caster_wheel_link">
    <inertial>
      <origin xyz="0 -5.3545E-05 0" rpy="0 0 0" />
      <mass value="0.12084" />
      <inertia ixx="4.6943E-05" ixy="2.8308E-17" ixz="-1.6458E-15"
               iyy="7.6353E-05" iyz="4.8989E-17" izz="4.6943E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/rl_caster_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/rl_caster_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rl_caster_wheel_joint" type="fixed">
    <origin xyz="-0.0325 0 -0.0595" rpy="0 0 0" />
    <parent link="rl_caster_wheel_mount_link" />
    <child link="rl_caster_wheel_link" />
  </joint>

  <!-- Rear-right table leg -->
  <link name="rr_table_leg_link">
    <inertial>
      <origin xyz="0 0 0.22347" rpy="0 0 0" />
      <mass value="0.15157" />
      <inertia ixx="0.0028107" ixy="-1.1843E-20" ixz="2.1315E-20"
               iyy="0.0028135" iyz="-2.3739E-18" izz="5.0184E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/rr_table_leg_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/rr_table_leg_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rr_table_leg_joint" type="fixed">
    <origin xyz="-0.34 -0.698 -0.883" rpy="0 0 0" />
    <parent link="table_top_link" />
    <child link="rr_table_leg_link" />
  </joint>

  <!-- RR caster wheel mount -->
  <link name="rr_caster_wheel_mount_link">
    <inertial>
      <origin xyz="-0.011459 -7.0567E-09 -0.011665" rpy="0 0 0" />
      <mass value="0.047319" />
      <inertia ixx="1.6675E-05" ixy="-8.0944E-11" ixz="-8.1003E-07"
               iyy="2.9049E-05" iyz="-7.8988E-11" izz="3.76E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/rr_caster_wheel_mount_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/rr_caster_wheel_mount_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rr_caster_wheel_mount_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="rr_table_leg_link" />
    <child link="rr_caster_wheel_mount_link" />
  </joint>

  <!-- RR caster wheel -->
  <link name="rr_caster_wheel_link">
    <inertial>
      <origin xyz="0 -5.3545E-05 0" rpy="0 0 0" />
      <mass value="0.12084" />
      <inertia ixx="4.6943E-05" ixy="2.8252E-17" ixz="-1.6459E-15"
               iyy="7.6353E-05" iyz="4.9045E-17" izz="4.6943E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/rr_caster_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/rr_caster_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rr_caster_wheel_joint" type="fixed">
    <origin xyz="-0.0325 0 -0.0595" rpy="0 0 0" />
    <parent link="rr_caster_wheel_mount_link" />
    <child link="rr_caster_wheel_link" />
  </joint>

  <!-- ======================== CAMERA MOUNT ======================== -->

  <xacro:property name="camera_mount_x" value="0.25" />
  <xacro:property name="camera_mount_pitch" value="1.3" />

  <link name="camera_mount_linear_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/camera_mount_linear_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/camera_mount_linear_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="camera_mount_linear_joint" type="fixed">
    <origin xyz="${camera_mount_x} 0 0.04" rpy="0 0 0" />
    <parent link="table_top_link" />
    <child link="camera_mount_linear_link" />
  </joint>

  <link name="camera_mount_rev_link">
    <inertial>
      <origin xyz="-0.00010268 -1.5812E-06 0.01215" rpy="0 0 0" />
      <mass value="0.006837" />
      <inertia ixx="2.4745E-06" ixy="8.8137E-13" ixz="-4.848E-10"
               iyy="2.6062E-07" iyz="-1.1636E-11" izz="2.5357E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5708 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/camera_mount_rev_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5708 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/camera_mount_rev_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="camera_mount_rev_joint" type="fixed">
    <origin xyz="0.192 0 -0.029"
            rpy="3.14159265358979 ${camera_mount_pitch} 3.14159265358979" />
    <parent link="camera_mount_linear_link" />
    <child link="camera_mount_rev_link" />
  </joint>

  <link name="camera_link">
    <inertial>
      <origin xyz="-6.0219E-07 0.00024591 0.011952" rpy="0 0 0" />
      <mass value="0.044753" />
      <inertia ixx="2.7362E-05" ixy="3.9858E-09" ixz="7.9052E-10"
               iyy="3.9447E-06" iyz="2.4433E-07" izz="2.7278E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5708 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/camera_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5708 0" />
      <geometry>
        <mesh filename="package://ur5_volcani_description/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="camera_joint" type="fixed">
    <origin xyz="0.016 0 0" rpy="3.14159 0 0" />
    <parent link="camera_mount_rev_link" />
    <child link="camera_link" />
  </joint>

  <!-- Camera optical frame -->
  <link name="camera_link_optical" />
  <joint name="camera_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708" />
    <parent link="camera_link" />
    <child link="camera_link_optical" />
  </joint>

  <!-- Gazebo RGBD camera sensor -->
  <gazebo reference="camera_link">
    <sensor name="rgbd_camera" type="rgbd_camera">
      <camera>
        <horizontal_fov>1.25</horizontal_fov>
        <image>
          <width>848</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.3</near>
          <far>15</far>
        </clip>
      </camera>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>true</visualize>
      <topic>rgbd_camera</topic>
      <gz_frame_id>camera_link</gz_frame_id>
    </sensor>
  </gazebo>

  <!-- Preserve camera fixed joints in Gazebo -->
  <gazebo reference="camera_mount_linear_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="camera_mount_rev_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="camera_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="camera_optical_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <!-- ======================== UR5 ARM ======================== -->
  <!-- Mounted on the table top, flipped 180 deg (looking downward) -->
  <!-- The UR5 base sits on the table surface, arm hangs below -->
  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="table_top_link"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    force_abs_paths="true"
    >
    <!-- Center of table, on the surface, flipped so arm points downward -->
    <origin xyz="0 0 0" rpy="3.14159 0 0" />
  </xacro:ur_robot>

  <!-- ======================== GAZEBO ======================== -->
  <gazebo reference="world">
  </gazebo>

  <!-- Preserve fixed joints so Gazebo renders the table visuals -->
  <gazebo reference="world_to_base">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="fl_table_leg_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="fl_caster_wheel_mount_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="fl_caster_wheel_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="fr_table_leg_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="fr_caster_wheel_mount_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="fr_caster_wheel_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="rl_table_leg_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="rl_caster_wheel_mount_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="rl_caster_wheel_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="rr_table_leg_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="rr_caster_wheel_mount_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <gazebo reference="rr_caster_wheel_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg simulation_controllers)</parameters>
      <ros>
        <namespace>$(arg ros_namespace)</namespace>
      </ros>
    </plugin>
  </gazebo>

  <!-- ros2 control instance with folded initial position (arm fits under the table) -->
  <xacro:ur_ros2_control
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    initial_positions="${dict(shoulder_pan_joint=0.0,shoulder_lift_joint=-1.57,elbow_joint=1.57,wrist_1_joint=-1.57,wrist_2_joint=0.0,wrist_3_joint=0.0)}"
  />

</robot>
